:root {
    --primary: #138362;
    --secondary: #3070D5;
    --background: #E6E6E6;
    --letters: #252726;
    --answer: #8F8F8F;
}

* {
    box-sizing: border-box;
    color: var(--letters);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: var(--background);
    line-height: 1.25;
    font-size: 18px;
}

header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
}

header a {
    text-decoration: none;
}

#highscore {
    font-size: 20px;
    text-decoration: none;
    padding: 15px;
}

.head-timer {
    display: inline-flex;
    padding: 15px;
}

#remaining-time {
    align-items: center;
    padding: 15px;
    padding-top: 18px;
}

main{
padding: 15px;
padding-top: 0px;
}

#intro-card {
    padding: 10px;
    text-align: center;
}

.btn {
    padding: 8px;
    border: 1.5px solid black;
    margin: 5px;
    border-radius: 7px;
    font-size:large;
    color:white;
    background-color: var(--secondary);
}

.qstn-btn {
    display: flex;
    text-align: left;
    width: 190px;
    
}

.btn:hover {
    cursor: pointer;
}

.question {
    padding: 10px 80px;
    text-align: left;
}

.question p {
    font-size: 22px;
    font-weight: bold;
}

.question h3 {
    padding-top: 5px;
    color: var(--answer);
    border-top: 2px solid var(--answer);
}

.last-card {
    font-size: 22px;
}

#ending h2 {
    font-size: 22px;
    font-weight: bold;
}

.score {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

#final-score {
    padding-left: 15px;
}

#name-submit {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

#name-input {
    margin: 0px 10px 0px 10px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--primary);
}

#footer-link {
    text-decoration: none;
    /* TODO: Select name link color */
    color: white;
}

footer h2 {
    font-size: 25px;
}

footer a {
    font-size: 22px;
}