:root {
    --primary: #138362;
    --secondary: #3070D5;
    --background: #E6E6E6;
    --letters: #252726;
    --answer: #8F8F8F;
}

* {
    box-sizing: border-box;
    color: var(--letters);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html,
body{
    margin: 0px;
    background-color: var(--background);
    line-height: 1.25;
    font-size: 23px;
}

header {
    height: 90px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
}

header a {
    text-decoration: none;
}

#highscore {
    font-size: 20px;
    text-decoration: none;
    padding: 15px;
}

.head-timer {
    display: inline-flex;
    padding: 15px;
}

#remaining-time {
    align-items: center;
    padding: 15px;
    padding-top: 24px;
}

#quiz-content {
    height: 71.5vh;
    position: relative;
}

#intro-card {
    width: 750px;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    font-size: 30px;
}

.btn {
    padding: 8px;
    border: 1.5px solid black;
    margin: 5px;
    border-radius: 7px;
    font-size: 20px;
    color:white;
    background-color: var(--secondary);
}

.qstn-btn {
    display: flex;
    text-align: left;
    width: 190px;
}

.btn:hover {
    cursor: pointer;
}

.question {
    width: 750px;
    padding: 10px;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.question h3 {
    padding-top: 5px;
    color: var(--answer);
    border-top: 2px solid var(--answer);
}

#ending {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.score {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

#final-score {
    padding-left: 15px;
}

#name-submit {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

#name-input {
    margin: 0px 10px 0px 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--primary);
}

#footer-link {
    text-decoration: none;
    /* TODO: Select name link color */
    color: white;
}

footer a {
    font-size: 28px;
}